//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import 'components/cvl-header';
@import 'components/cvl-card';
@import 'components/cvl-footer';


// DPS header

.moj-header_dps {
    border-bottom: none;
}

// Sign in
.show-password {
    font-size: 16px;
    background-color: #f3f2f1;
    color: #0b0c0c;
    width: 80px;
    line-height: 1.2;
    box-shadow: 0 2px 0 #929191;
    margin-bottom: 0;
}

// Wide width

.govuk-width-container--wide {
    @include govuk-width-container(1200px);
  }
  
  .app-width-wide .govuk-width-container {
    @include govuk-width-container(1200px);
  }


  // Case list red accent 

  .urgent-highlight {
    border-left: 5px solid #d4351c;
    font-weight: bold;
    padding-left: 5px;
    display: block;
}

.urgent-highlight-message {
    color: #0b0c0c;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
}


  // Prisoner subheader

.pipe-separated__item:not(:last-child):after {
  content: " | ";
}

.border-bottom:after {
  content: "";
  display: block;
  border-bottom: 1px solid #b1b4b6;
}


// Custom tags

.status-badge {
  padding: 3px 5px;
  font-weight: 700;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  min-width: 10em;
  text-transform: none;
}

// PP case list

.pp-caselist-name {
  font-weight: bold; 
  display: block;
}

.pp-caselist-crn {
  color: #505a5f;
}

// Timeline document

.moj-timeline__document-link {
  background-image: url(/public/images/icon-document.svg);
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 0 50%;
  padding-left: 25px;
}

// Horizontal row styling

.border-style {
  border: 0.25px solid #b1b4b6;
}


// Custom summary list


@media (min-width: 40.0625em) {
  .govuk-summary-list__key-custom, .govuk-summary-list__value-custom {
      display: block;
      width: 100%;
  }
}

.govuk-summary-list__key-custom {
  font-weight: 400;
  padding-bottom: 0px!important;
  margin-bottom: 0px;
}

.govuk-summary-list__value-custom {
  font-weight: 700;
  padding-top: 0px;
  margin-top: 0px;
}


// Custom grid

.govuk-grid-column-twenty {
   width: 20%;
   float: left;
   overflow-wrap: break-word;
}

.govuk-grid-column-forty {
  width: 40%;
  float: left;
}