{% extends "layouts/cvl.html" %}

{% set pageName="Tell us what curfew hours need to change" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<div class="govuk-phase-banner" style="border-bottom: none;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
        This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="../../../../_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% include "components/prisoner-subheader/include.html" %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="vary-licence-details" method="get">

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Tell us what curfew hours need to change
            </h1>
          </legend>

           <div class="govuk-hint govuk-!-margin-bottom-7">
            HDC curfew hours set the time Cyphoonifer Bransabert must be at the residential or CAS address. This is usually for 9 to 12 hours a day, unless agreed otherwise.
          </div>     
            <!-- Monday -->
            <h2 class="govuk-heading-m">
                Hours starting Monday
              </h2>
                <div class="govuk-form-group">
                  <label class="govuk-label bold" for="monday-start-time">
                    Start time
                  </label>
              
          
              <div class="govuk-date-input" id="monday-start-time">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="monday-start-time-hour">
                            Hour
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="monday-start-time-hour" name="monday-start-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['monday-start-time-hour'] | int or '7' }}">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="monday-start-time-minute">
                            Minute
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="monday-start-time-minute" name="monday-start-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['monday-start-time-minute'] | int or '00' }}">
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="monday-start-time-ampm">
                            am or pm
                        </label>
                        <select class="govuk-select select-custom-width-am-pm" id="monday-start-time-ampm" name="monday-start-time-ampm">
                            <option value="choose">Choose am or pm</option>
                            <option value="am">am</option>
                            <option value="pm" selected>pm</option>
                          </select>
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <p>on Monday</p>
                </div>
        
            </div>
          
            </div>
          
          
            <div class="govuk-form-group">
              <label class="govuk-label bold" for="monday-end-time">
                End time
              </label>
          
          
          <div class="govuk-date-input" id="monday-end-time">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="monday-end-time-hour">
                        Hour
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="monday-end-time-hour" name="monday-end-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['monday-end-time-hour'] | int or '7' }}">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="time-minute">
                        Minute
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="monday-end-time-minute" name="monday-end-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['monday-end-time-minute'] | int or '00' }}">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="monday-end-time-ampm">
                        am or pm
                    </label>
                    <select class="govuk-select select-custom-width-am-pm" id="monday-end-time-ampm" name="monday-end-time-ampm">
                        <option value="choose">Choose am or pm</option>
                        <option value="am" selected>am</option>
                        <option value="pm">pm</option>
                      </select>
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="monday-end-time-day">
                        Day
                    </label>
                    <select class="govuk-select select-custom-width-day" id="monday-end-time-day" name="monday-end-time-day">
                        <option value="chooseDay">Choose a day</option>
                        <option value="Monday">on Monday</option>
                        <option value="Tuesday" selected>on Tuesday</option>
                      </select>
                </div>
            </div>
          </div>
          </div>
    
    
          <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-8 govuk-!-margin-top-6">
            <hr class="curfew-hr">
          </div>
          <!-- End Monday -->
          
          
              <!-- Tuesday -->
              <h2 class="govuk-heading-m">
                Hours starting Tuesday
             </h2>
             <div class="govuk-form-group">
               <label class="govuk-label bold" for="tuesday-start-time">
                 Start time
               </label>
             
               <div class="govuk-date-input" id="tuesday-start-time">
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="tuesday-start-time-hour">
                             Hour
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="tuesday-start-time-hour" name="tuesday-start-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['tuesday-start-time-hour'] | int or '7' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="tuesday-start-time-minute">
                             Minute
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="tuesday-start-time-minute" name="tuesday-start-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['tuesday-start-time-minute'] | int or '00' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="tuesday-start-time-ampm">
                             am or pm
                         </label>
                         <select class="govuk-select select-custom-width-am-pm" id="tuesday-start-time-ampm" name="tuesday-start-time-ampm">
                            <option value="choose">Choose am or pm</option>
                            <option value="am">am</option>
                             <option value="pm" selected>pm</option>
                         </select>
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <p>on Tuesday</p>
                 </div>
             
               </div>
             
             </div>
             
             
             <div class="govuk-form-group">
               <label class="govuk-label bold" for="tuesday-end-time">
                 End time
               </label>
             
               <div class="govuk-date-input" id="tuesday-end-time">
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="tuesday-end-time-hour">
                             Hour
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="tuesday-end-time-hour" name="tuesday-end-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['tuesday-end-time-hour'] | int or '7' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="time-minute">
                             Minute
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="tuesday-end-time-minute" name="tuesday-end-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['tuesday-end-time-minute'] | int or '00' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="tuesday-end-time-ampm">
                             am or pm
                         </label>
                         <select class="govuk-select select-custom-width-am-pm" id="tuesday-end-time-ampm" name="tuesday-end-time-ampm">
                            <option value="choose">Choose am or pm</option>
                            <option value="am" selected>am</option>
                             <option value="pm">pm</option>
                         </select>
                     </div>
                 </div>
        
                 <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="tuesday-end-time-day">
                            Day
                        </label>
                        <select class="govuk-select select-custom-width-day" id="tuesday-end-time-day" name="tuesday-end-time-day">
                            <option value="chooseDay">Choose a day</option>
                            <option value="Tuesday">on Tuesday</option>
                            <option value="Wednesday" selected>on Wednesday</option>
                          </select>
                    </div>
                </div>
        
               </div>
             </div>
             
             <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-8 govuk-!-margin-top-6">
                <hr class="curfew-hr">
              </div>
          <!-- End Tuesday -->
          
          
          <!-- Wednesday -->
          <h2 class="govuk-heading-m">
            Hours starting Wednesday
         </h2>
         <div class="govuk-form-group">
           <label class="govuk-label bold" for="wednesday-start-time">
             Start time
           </label>
         
           <div class="govuk-date-input" id="wednesday-start-time">
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="wednesday-start-time-hour">
                         Hour
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="wednesday-start-time-hour" name="wednesday-start-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['wednesday-start-time-hour'] | int or '7' }}">
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="wednesday-start-time-minute">
                         Minute
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="wednesday-start-time-minute" name="wednesday-start-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['wednesday-start-time-minute'] | int or '00' }}">
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="wednesday-start-time-ampm">
                         am or pm
                     </label>
                     <select class="govuk-select select-custom-width-am-pm" id="wednesday-start-time-ampm" name="wednesday-start-time-ampm">
                        <option value="choose">Choose am or pm</option>
                        <option value="am">am</option>
                         <option value="pm" selected>pm</option>
                     </select>
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <p>on Wednesday</p>
             </div>
         
           </div>
         
         </div>
         
         
         <div class="govuk-form-group">
           <label class="govuk-label bold" for="wednesday-end-time">
             End time
           </label>
         
           <div class="govuk-date-input" id="wednesday-end-time">
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="wednesday-end-time-hour">
                         Hour
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="wednesday-end-time-hour" name="wednesday-end-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['wednesday-end-time-hour'] | int or '7' }}">
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="time-minute">
                         Minute
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="wednesday-end-time-minute" name="wednesday-end-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['wednesday-end-time-minute'] | int or '00' }}">
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="wednesday-end-time-ampm">
                         am or pm
                     </label>
                     <select class="govuk-select select-custom-width-am-pm" id="wednesday-end-time-ampm" name="wednesday-end-time-ampm">
                        <option value="choose">Choose am or pm</option>
                        <option value="am" selected>am</option>
                         <option value="pm">pm</option>
                     </select>
                 </div>
             </div>
             <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="wednesday-end-time-day">
                        Day
                    </label>
                    <select class="govuk-select select-custom-width-day" id="wednesday-end-time-day" name="wednesday-end-time-day">
                        <option value="chooseDay">Choose a day</option>
                        <option value="Wednesday">on Wednesday</option>
                        <option value="Thursday" selected>on Thursday</option>
                      </select>
                </div>
            </div>
           </div>
         </div>
         
         <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-8 govuk-!-margin-top-6">
            <hr class="curfew-hr">
          </div>
          <!-- End Wednesday -->
          
          
          <!-- Thursday -->
          <h2 class="govuk-heading-m">
            Hours starting Thursday
         </h2>
         <div class="govuk-form-group">
           <label class="govuk-label bold" for="thursday-start-time">
             Start time
           </label>
         
           <div class="govuk-date-input" id="thursday-start-time">
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="thursday-start-time-hour">
                         Hour
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="thursday-start-time-hour" name="thursday-start-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['thursday-start-time-hour'] | int or '7' }}">
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="thursday-start-time-minute">
                         Minute
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="thursday-start-time-minute" name="thursday-start-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['thursday-start-time-minute'] | int or '00' }}">
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="thursday-start-time-ampm">
                         am or pm
                     </label>
                     <select class="govuk-select select-custom-width-am-pm" id="thursday-start-time-ampm" name="thursday-start-time-ampm">
                        <option value="choose">Choose am or pm</option>
                        <option value="am">am</option>
                         <option value="pm" selected>pm</option>
                     </select>
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <p>on Thursday</p>
             </div>
         
           </div>
         
         </div>
         
         
         <div class="govuk-form-group">
           <label class="govuk-label bold" for="thursday-end-time">
             End time
           </label>
         
           <div class="govuk-date-input" id="thursday-end-time">
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="thursday-end-time-hour">
                         Hour
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="thursday-end-time-hour" name="thursday-end-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['thursday-end-time-hour'] | int or '7' }}">
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="time-minute">
                         Minute
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="thursday-end-time-minute" name="thursday-end-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['thursday-end-time-minute'] | int or '00' }}">
                 </div>
             </div>
             <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label" for="thursday-end-time-ampm">
                         am or pm
                     </label>
                     <select class="govuk-select select-custom-width-am-pm" id="thursday-end-time-ampm" name="thursday-end-time-ampm">
                        <option value="choose">Choose am or pm</option>
                        <option value="am" selected>am</option>
                         <option value="pm">pm</option>
                     </select>
                 </div>
             </div>
             <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="thursday-end-time-day">
                        Day
                    </label>
                    <select class="govuk-select select-custom-width-day" id="thursday-end-time-day" name="thursday-end-time-day">
                        <option value="chooseDay">Choose a day</option>
                        <option value="Thursday">on Thursday</option>
                        <option value="Friday" selected>on Friday</option>
                      </select>
                </div>
            </div>
           </div>
         </div>
    
         <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-8 govuk-!-margin-top-6">
            <hr class="curfew-hr">
          </div>
         
          <!-- End Thursday -->
          
              <!-- Friday -->
              <h2 class="govuk-heading-m">
                Hours starting Friday
             </h2>
             <div class="govuk-form-group">
               <label class="govuk-label bold" for="friday-start-time">
                 Start time
               </label>
             
               <div class="govuk-date-input" id="friday-start-time">
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="friday-start-time-hour">
                             Hour
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="friday-start-time-hour" name="friday-start-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['friday-start-time-hour'] | int or '7' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="friday-start-time-minute">
                             Minute
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="friday-start-time-minute" name="friday-start-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['friday-start-time-minute'] | int or '00' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="friday-start-time-ampm">
                             am or pm
                         </label>
                         <select class="govuk-select select-custom-width-am-pm" id="friday-start-time-ampm" name="friday-start-time-ampm">
                            <option value="choose">Choose am or pm</option>
                             <option value="am">am</option>
                             <option value="pm" selected>pm</option>
                         </select>
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <p>on Friday</p>
                 </div>
             
               </div>
             
             </div>
             
             
             <div class="govuk-form-group">
               <label class="govuk-label bold" for="friday-end-time">
                 End time
               </label>
             
               <div class="govuk-date-input" id="friday-end-time">
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="friday-end-time-hour">
                             Hour
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="friday-end-time-hour" name="friday-end-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['friday-end-time-hour'] | int or '7' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="time-minute">
                             Minute
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="friday-end-time-minute" name="friday-end-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['friday-end-time-minute'] | int or '00' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="friday-end-time-ampm">
                             am or pm
                         </label>
                         <select class="govuk-select select-custom-width-am-pm" id="friday-end-time-ampm" name="friday-end-time-ampm">
                            <option value="choose">Choose am or pm</option>
                             <option value="am" selected>am</option>
                             <option value="pm">pm</option>
                         </select>
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="friday-end-time-day">
                            Day
                        </label>
                        <select class="govuk-select select-custom-width-day" id="friday-end-time-day" name="friday-end-time-day">
                            <option value="chooseDay">Choose a day</option>
                            <option value="Friday">on Friday</option>
                            <option value="Saturday" selected>on Saturday</option>
                          </select>
                    </div>
                </div>
               </div>
             </div>
    
             <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-8 govuk-!-margin-top-6">
                <hr class="curfew-hr">
              </div>
             
          <!-- End Friday -->
          
          
              <!-- Saturday -->
        
              <h2 class="govuk-heading-m">
                Hours starting Saturday
             </h2>
             <div class="govuk-form-group">
               <label class="govuk-label bold" for="saturday-start-time">
                 Start time
               </label>
             
               <div class="govuk-date-input" id="saturday-start-time">
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="saturday-start-time-hour">
                             Hour
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="saturday-start-time-hour" name="saturday-start-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['saturday-start-time-hour'] | int or '7' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="saturday-start-time-minute">
                             Minute
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="saturday-start-time-minute" name="saturday-start-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['saturday-start-time-minute'] | int or '00' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="saturday-start-time-ampm">
                             am or pm
                         </label>
                         <select class="govuk-select select-custom-width-am-pm" id="saturday-start-time-ampm" name="saturday-start-time-ampm">
                            <option value="choose">Choose am or pm</option>
                             <option value="am">am</option>
                             <option value="pm" selected>pm</option>
                         </select>
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <p>on Saturday</p>
                 </div>
             
               </div>
             
             </div>
             
             
             <div class="govuk-form-group">
               <label class="govuk-label bold" for="saturday-end-time">
                 End time
               </label>
             
               <div class="govuk-date-input" id="saturday-end-time">
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="saturday-end-time-hour">
                             Hour
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="saturday-end-time-hour" name="saturday-end-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['saturday-end-time-hour'] | int or '7' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="time-minute">
                             Minute
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="saturday-end-time-minute" name="saturday-end-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['saturday-end-time-minute'] | int or '00' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="saturday-end-time-ampm">
                             am or pm
                         </label>
                         <select class="govuk-select select-custom-width-am-pm" id="saturday-end-time-ampm" name="saturday-end-time-ampm">
                            <option value="choose">Choose am or pm</option>
                             <option value="am" selected>am</option>
                             <option value="pm">pm</option>
                         </select>
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="saturday-end-time-day">
                            Day
                        </label>
                        <select class="govuk-select select-custom-width-day" id="saturday-end-time-day" name="saturday-end-time-day">
                            <option value="chooseDay">Choose a day</option>
                            <option value="Saturday">on Saturday</option>
                            <option value="Sunday" selected>on Sunday</option>
                          </select>
                    </div>
                </div>
               </div>
             </div>
    
             <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-8 govuk-!-margin-top-6">
                <hr class="curfew-hr">
              </div>
             
          <!-- End Saturday -->
          
          
              <!-- Sunday -->
         
              <h2 class="govuk-heading-m">
                Hours starting Sunday
             </h2>
             <div class="govuk-form-group">
               <label class="govuk-label bold" for="sunday-start-time">
                 Start time
               </label>
             
               <div class="govuk-date-input" id="sunday-start-time">
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="sunday-start-time-hour">
                             Hour
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="sunday-start-time-hour" name="sunday-start-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['sunday-start-time-hour'] | int or '7' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="sunday-start-time-minute">
                             Minute
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="sunday-start-time-minute" name="sunday-start-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['sunday-start-time-minute'] | int or '00' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="sunday-start-time-ampm">
                             am or pm
                         </label>
                         <select class="govuk-select select-custom-width-am-pm" id="sunday-start-time-ampm" name="sunday-start-time-ampm">
                            <option value="choose">Choose am or pm</option>
                             <option value="am">am</option>
                             <option value="pm" selected>pm</option>
                         </select>
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <p>on Sunday</p>
                 </div>
             
               </div>
             
             </div>
             
             
             <div class="govuk-form-group">
               <label class="govuk-label bold" for="sunday-end-time">
                 End time
               </label>
             
               <div class="govuk-date-input" id="sunday-end-time">
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="sunday-end-time-hour">
                             Hour
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="sunday-end-time-hour" name="sunday-end-time-hour" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['sunday-end-time-hour'] | int or '7' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="time-minute">
                             Minute
                         </label>
                         <input class="govuk-input govuk-date-input__input govuk-input--width-2 " maxlength="2" id="sunday-end-time-minute" name="sunday-end-time-minute" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data['sunday-end-time-minute'] | int or '00' }}">
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                     <div class="govuk-form-group">
                         <label class="govuk-label govuk-date-input__label" for="sunday-end-time-ampm">
                             am or pm
                         </label>
                         <select class="govuk-select select-custom-width-am-pm" id="sunday-end-time-ampm" name="sunday-end-time-ampm">
                            <option value="choose">Choose am or pm</option>
                             <option value="am" selected>am</option>
                             <option value="pm">pm</option>
                         </select>
                     </div>
                 </div>
                 <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="sunday-end-time-day">
                            Day
                        </label>
                        <select class="govuk-select select-custom-width-day" id="sunday-end-time-day" name="sunday-end-time-day">
                            <option value="chooseDay">Choose a day</option>
                            <option value="Sunday">on Sunday</option>
                            <option value="Monday" selected>on Monday</option>
                          </select>
                    </div>
                </div>
               </div>
             </div>

             <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-8 govuk-!-margin-top-6">
                <hr class="curfew-hr">
              </div>
             
        
          <!-- End Sunday -->



          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Help with this licence condition</h2>

          <details class="govuk-details govuk-!-margin-bottom-1">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If curfews are longer than 12 hours
              </span>
            </summary>
            <div class="govuk-details__text">
              You must use a bespoke licence condition approved by PPCS if: <ul class="govuk-list--bullet"><li>the total length of someone's curfews is more than 12 hours</li><li>they need more than 3 curfews</li></ul>
            </div>
          </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                If you are also adding reporting instructions
              </span>
            </summary>
            <div class="govuk-details__text">
              Add an hour to the total length of someone's curfews each time you ask them to report to a police station or approved premises in an additional licence condition.<br><br>If this total is more than 12 hours, you must use a bespoke condition approved by PPCS.<br><br>For example, if someone had an 11-hour curfew and had to report to a police station twice a day, the total length of their curfews would be 13 hours. This would need PPCS approval.
            </div>
          </details>


<button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
  Continue
 </button>

    </fieldset>
          </form>
  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}