  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full border-bottom">
        <div class="govuk-caption-m">
 {% if data['prisoner'] == 'diego' %}  
            <span class="pipe-separated__item">CRN: S674889</span>
            {% if data['varyFlow'] == 'True' %}  
            <span class="pipe-separated__item">Licence end date: 15 Oct 2025</span>
            {% else %}  
            <span class="pipe-separated__item">Release date: 16 Apr 2025</span>
            {% endif %}  
            <span class="pipe-separated__item">Date of birth: 17 June 1999</span>
        </div>
        <span class="govuk-heading-m">Diego Rodriguez</span>
 {% elif data['prisoner'] == 'cyphoonifer' %}  
    <span class="pipe-separated__item">CRN: A693826</span>
{% if data['varyFlow'] == 'True' %}  
  <span class="pipe-separated__item">Licence end date: 10 Jan 2026</span>
  {% else %}  
 <span class="pipe-separated__item">Release date: 27 May 2025</span>
 {% endif %}  
 <span class="pipe-separated__item">Date of birth: 10 Nov 1970</span>
    </div>
    <span class="govuk-heading-m">Cyphoonifer Bransabert</span>
  {% elif data['prisoner'] == 'montgomery' %}  
        <span class="pipe-separated__item">CRN: F906211</span>
        {% if data['varyFlow'] == 'True' %}  
        <span class="pipe-separated__item">Licence end date: 24 Nov 2025</span>
        {% else %}  
        <span class="pipe-separated__item">Release date: 5 Feb 2025</span>
        {% endif %}  
        <span class="pipe-separated__item">Date of birth: 17 June 1966</span>
    </div>
    <span class="govuk-heading-m">Montgomery Talbot</span>

 {% elif data['prisoner'] == 'guy' %}  
    <span class="pipe-separated__item">CRN: Z503727</span>
    {% if data['varyFlow'] == 'True' %}  
    <span class="pipe-separated__item">Licence end date: 20 Sep 2025</span>
    {% else %}  
    <span class="pipe-separated__item">Release date: 11 Mar 2025</span>
    {% endif %}  
    <span class="pipe-separated__item">Date of birth: 5 Jan 1978</span>
</div>
<span class="govuk-heading-m">Guy Richards</span>
        {% else %}  
        <span class="pipe-separated__item">CRN: A693826</span>
        {% if data['varyFlow'] == 'True' %}  
          <span class="pipe-separated__item">Licence end date: 10 Jan 2026</span>
          {% else %}  
         <span class="pipe-separated__item">Release date: 27 May 2025</span>
         {% endif %}  
         <span class="pipe-separated__item">Date of birth: 10 Nov 1970</span>
            </div>
            <span class="govuk-heading-m">Cyphoonifer Bransabert</span>
        {% endif %}  
    </div>
</div>
