{% extends "layouts/cvl.html" %}

{% set pageName="Offender details" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/hdc-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}

<div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-full">
      <p class="govuk-body govuk-!-font-weight-bold govuk-!-padding-right-2" style="display: inline;">Pentonville (HMP)</p>
      <p class="govuk-body" style="display: inline;"><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state govuk-!-margin-bottom-7">Change your role or location</a></p>
      <hr class="border-style govuk-!-margin-bottom-2">
  </div>
</div>

<a href="javascript:history.back()" class="govuk-back-link">Back to case list</a>



{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-s">Offender details</h1>


    
  </div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-twenty">
        <img class="govuk-!-margin-top-3 govuk-!-margin-left-4" src="/public/images/test-image-1.png" width="112.5" height="150" alt="User icon">
      </div>
      <div class="govuk-grid-column-twenty">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--no-border-custom">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
              Name
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              Cyphoonifer Bransabert
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
             Prison number
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              A693826
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              10/11/1970
            </dd>
          </div>
        </dl>
            </div>
      <div class="govuk-grid-column-forty">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--no-border-custom">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
              Community Offender Manager
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">Sally Rooney</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
             Location
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              HMP Pentonville
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
              Offence(s)
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              Produce controlled drug of Class B - cannabis
            </dd>
          </div>
        </dl>   
         </div>
      <div class="govuk-grid-column-twenty">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-summary-list--no-border-custom">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
              Conditional release date
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
             10/01/2026
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
             HDC eligibility date
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
             27/05/2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
              HDC approved date
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              27/05/2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
              Sentence expiry date
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              10/01/2026
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
              Licence expiry date
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              10/01/2026
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-summary-list__key-custom">
              Post sentence supervision expiry date
            </dt>
            <dd class="govuk-summary-list__value govuk-summary-list__value-custom">
              10/03/2026
            </dd>
          </div>
        </dl>   
            </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    
        <hr class="govuk-!-margin-bottom-6">
    

        <div>
          <div>
          <h2 class="govuk-heading-s">
            Eligiblity and presumed suitability
              </h2>
              <p style="display: inline;">Eligible</p>
              <a href="#">
                <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary govuk-!-margin-right-6" data-module="govuk-button">
                  View/Edit
                </button>
              </a>
              <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
            </div>
            <div>
              <h2 class="govuk-heading-s">
                Proposed curfew address
                  </h2>
                  <p style="display: inline;">Address checked</p>
                  <a href="#">
                    <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary govuk-!-margin-right-6" data-module="govuk-button">
                      View/Edit
                    </button>
                  </a>
                  <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                </div>
                <div>
                  <h2 class="govuk-heading-s">
                    Risk management 
                      </h2>
                      <p style="display: inline;">Completed</p>
                      <a href="#">
                        <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary govuk-!-margin-right-6" data-module="govuk-button">
                          View/Edit
                        </button>
                      </a>
                      <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                    </div>
                    <div>
                      <h2 class="govuk-heading-s">
                        Victim liaison 
                          </h2>
                          <p style="display: inline;">No victim liaison required</p>
                          <a href="#">
                            <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary govuk-!-margin-right-6" data-module="govuk-button">
                              View/Edit
                            </button>
                          </a>
                          <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                        </div>
                        <div>
                          <h2 class="govuk-heading-s">
                            Curfew hours
                              </h2>
                              <p style="display: inline;">Confirmed</p>
                              <a href="#">
                                <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary govuk-!-margin-right-6" data-module="govuk-button">
                                  View/Edit
                                </button>
                              </a>
                              <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                            </div>
                            <div>
                              <h2 class="govuk-heading-s">
                                Additional conditions
                                  </h2>
                                  <p style="display: inline;">6 conditions added</p>
                                  <a href="#">
                                    <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary govuk-!-margin-right-6" data-module="govuk-button">
                                      View/Edit
                                    </button>
                                  </a>
                                  <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                                </div>
                                <div>
                                  <h2 class="govuk-heading-s">
                                    Reporting instructions
                                      </h2>
                                      <p style="display: inline;">Confirmed</p>
                                      <a href="#">
                                        <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary govuk-!-margin-right-6" data-module="govuk-button">
                                          View/Edit
                                        </button>
                                      </a>
                                      <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                                    </div>
                                    <div>
                                      <h2 class="govuk-heading-s">
                                        Review case
                                          </h2>
                                          <p style="display: inline;">Confirmed</p>
                                         <a href="#" class="govuk-body govuk-link--no-visited-state govuk-!-margin-right-8" style="float: right;">
                                            Change
                                          </a>
                                          <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                                        </div>
                                        <div>
                                          <h2 class="govuk-heading-s">
                                            Postpone or refuse
                                              </h2>
                                              <p style="display: inline;">Postpone the case if you're waiting on information from risk management</p>
                                              <a href="#">
                                                <button type="submit" style="float: right;" class="govuk-button govuk-!-margin-right-6" data-module="govuk-button">
                                                  Postpone
                                                </button>
                                              </a>
                                              <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                                            </div>
                                            <div>
                                                  <p style="display: inline;">Refuse the case if there is no available address or not enough time</p>
                                                  <a href="#">
                                                    <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary govuk-!-margin-right-6" data-module="govuk-button">
                                                      Refuse HDC
                                                    </button>
                                                  </a>
                                                  <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                                                </div>
                                                <div>
                                                  <h2 class="govuk-heading-s">
                                                    Resubmit to DM
                                                      </h2>
                                                      <p style="display: inline;">Resubmit to the DM if a reconsideration is required</p>
                                                      <a href="#">
                                                        <button type="submit" style="float: right;" class="govuk-button govuk-button--secondary govuk-!-margin-right-6" data-module="govuk-button">
                                                          Resubmit
                                                        </button>
                                                      </a>
                                                      <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                                                    </div>
                                                    <div>
                                                      <h2 class="govuk-heading-s">
                                                       Licence
                                                          </h2>
                                                          <p style="display: inline;">Check the Create and vary a licence service</p>
                                                          <hr class="govuk-!-margin-top-8 govuk-!-margin-bottom-5 border-style">
                                                        </div>
  
        </div>
        
      </div>
    </div>
    


{% endblock %}


{% block footer %}

{% include "components/hdc-footer/include.html" %}

{% endblock %}