<footer class="connect-dps-common-footer govuk-!-display-none-print" role="contentinfo">
  <div class="govuk-width-container">
      <div class="govuk-grid-row">
          <div id="connect-dps-common-footer-services" class="govuk-grid-column-three-quarters connect-dps-common-footer__services-menu">
              <h2>Services</h2>
              <ul class="govuk-list">

                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Accredited Programmes</a></li>
                   
                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Adjudications</a></li>
       
                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Check my diary</a></li>
                      
                          <li><a class="connect-dps-common-footer__link" href="/approver/cvl-home">Create and vary a licence</a></li>
                      
                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Establishment roll check</a></li>
           
                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Home Detention Curfew</a></li>
         
                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Incentives</a></li>
                      
                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Learning and work progress</a></li>

                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Prisoner whereabouts</a></li>

                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Reporting</a></li>

                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Submit an Intelligence Report</a></li>
  
                          <li><a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">Welcome people into prison</a></li>
        
              </ul>
          </div>
          <div class="govuk-grid-column-one-quarter">
              <div class="connect-dps-common-footer__help">
                  <h2>Get help with DPS</h2>
                  <p>Call 0800 917 5148 or #6598 from inside an establishment.</p>
              </div>
          </div>
      </div>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <div class="connect-dps-common-footer__support-links">
                  <h2 class="govuk-visually-hidden">Support links</h2>

                  <ul class="connect-dps-common-footer__inline-list">
                      <li class="connect-dps-common-footer__inline-list-item">
                          <a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">
                              Feedback (opens in a new tab)
                          </a>
                      </li>

                      
                          <li class="connect-dps-common-footer__inline-list-item">
                              <a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">
                                  Accessibility
                              </a>
                          </li>
                      
                          <li class="connect-dps-common-footer__inline-list-item">
                              <a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">
                                  Terms and conditions
                              </a>
                          </li>
                      
                          <li class="connect-dps-common-footer__inline-list-item">
                              <a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">
                                  Privacy policy
                              </a>
                          </li>
                      
                          <li class="connect-dps-common-footer__inline-list-item">
                              <a class="connect-dps-common-footer__link" href="../../../_common/not-testing.html">
                                  Cookies policy
                              </a>
                          </li>

                          <li class="connect-dps-common-footer__inline-list-item">
                            <a class="connect-dps-common-footer__link" href="/manage-prototype/clear-data">
                                Clear data
                            </a>
                        </li>
                      
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer>