{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-xl">Home Detention Curfew</span>
    <h1 class="govuk-heading-xl">
      MVP2
    </h1>

    <p>We will work with our partner prison to select approximately 10 cases coming up for release to test our MVP2 flow.</p>

    <details class="govuk-details govuk-!-margin-bottom-8">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          MVP2 case criteria
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
         <li>Prisoner has already been approved for HDC, therefore a HDCAD already exists</li>
         <li>It's well in advance of their CRD</li>
         <li>Can have standard, additional or bespoke licence conditions</li>
         <li>1 release address that can be CAS or residential - but address must be known</li>
         <li>1 curfew per day</li>
         <li>Can be standard curfew hours or different (COM will enter these)</li>
         <li>Standard 1st night curfew of 3pm-7am</li>
       </ul>
       </div>
    </details>


    <h2 class="govuk-heading-m">
      Flow (all users)
    </h2>

    <h3 class="govuk-heading-s">Links to start flow (starting from PP in CVL create journey)</h3>

    <p><a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/are-you-sure?additionalConditionsPresent=&bespokeConditionsPresent=">
      Start - with no additional or bespoke conditions</a></p> 

      <p><a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/are-you-sure?additionalConditionsPresent=yes&bespokeConditionsPresent=yes">
        Start - with additional or bespoke conditions</a></p> 


    <h3 class="govuk-heading-s">Individual links to pages per user type</h3>
    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Initial HDC task list"
          },
          content: {
            html: '
            <h2 class="govuk-heading-m">
              Case admin (CA)
            </h2>
            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/case-admin/task-list">Task list</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/case-admin/task-list-ap">Task list (CAS1 (AP) version)</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/case-admin/task-list-cas2">Task list (CAS2 version)</a>
              </li>
            </ul>
            '
          }
        },
        {
          heading: {
            text: "Creation and approval journey"
          },
          content: {
            html: '
            
    <h2 class="govuk-heading-m">
      Probation Practitioner (PP)
    </h2>

    <h3 class="govuk-heading-s">
      Add reporting instructions
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/are-you-sure">Are you sure you want to create this licence?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/who-with">Who is the initial appointment with?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/where-appt">Where is the initial appointment?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/contact-number">What is the contact phone number for the initial appointment?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/when-appt">When does this person need to go to the initial appointment?</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Add curfew hours
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/standard-hours">Do you want to use the standard HDC curfew hours?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/same-each-day">Do the same HDC curfew hours apply every day?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/enter-curfew-same">Enter the curfew hours (same time each day)</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/enter-curfew-diff">Enter the curfew hours (different time each day)</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Add conditions
    </h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/additional-conditions">Do they need additional licence conditions?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/enter-additional-conditions">Select additional licence conditions</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/bespoke-conditions">Do they need bespoke licence conditions?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/create-bespoke-condition">Create a bespoke condition</a>
      </li>
    </ul>

    <h3 class="govuk-heading-s">
      Check and confirm
    </h3>

    <ul class="govuk-list">

    <li>
      <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/check-licence">Check licence details</a>
    </li>
    <li>
      <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/confirmation">Confirmation</a>
    </li>
    <li>
      <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/case-list">Case list (status - submitted)</a>
    </li>
  </ul>

  <h3 class="govuk-heading-s">
    Edit before approval
  </h3>

  <h3 class="govuk-heading-s">
    Check and confirm
  </h3>

  <ul class="govuk-list">

  <li>
    <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/create/check-licence-2">Check licence details</a>
  </li>
</ul>

    
  <h2 class="govuk-heading-m">
    Approver (DM)
  </h2>

  <ul class="govuk-list">
    <li>
      <a class="govuk-link--no-visited-state" href="/mvp2/approver/cvl-home">CVL home (DM version)</a>
    </li>
    <li>
      <a class="govuk-link--no-visited-state" href="/mvp2/approver/case-list-app-needed">Case list (approval needed)</a>
    </li>
    <li>
      <a class="govuk-link--no-visited-state" href="/mvp2/approver/approve-licence">Approve licence</a>
    </li>
    <li>
      <a class="govuk-link--no-visited-state" href="/mvp2/approver/licence-approved">Licence approved</a>
    </li>
    <li>
      <a class="govuk-link--no-visited-state" href="/mvp2/approver/case-list-rec-approved">Case list (recently approved)</a>
    </li>
  </ul>
      '
          }
        },
        {
          heading: {
            text: "View or edit before release"
          },
          content: {
            html: '
            <h2 class="govuk-heading-m">
              Case admin (CA)
            </h2>

            <h3 class="govuk-heading-s">
              Print licence (licence has been approved)
            </h3>
        
            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/case-admin/case-list-pip-approved">Case list - people in prison</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/case-admin/print-licence">Print licence</a>
              </li>
              <!-- <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/case-admin/case-list-pop-active">Case list - people on probation</a>
              </li> -->
            </ul>

            <h2 class="govuk-heading-m">
              Probation Practitioner (PP)
            </h2>
            
            <h3 class="govuk-heading-s">
              Edit approved licence
            </h3>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/edit/case-list">Case list - case approved</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/edit/check-licence">Check licence details</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/edit/are-you-sure">Are you sure you want to edit this licence?</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/edit/check-licence-edit">Check licence details - edit version</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/pre-release/edit/confirmation">Confirmation</a>
              </li>
            </ul>

            
            '
          }
        },

        {
          heading: {
            text: "Vary licence (post-release)"
          },
          content: {
            html: '
            <h2 class="govuk-heading-m">
              Probation Practitioner (PP)
            </h2>
            
            <h3 class="govuk-heading-s">
              Vary licence
            </h3>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/cvl-home">CVL home</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/case-list-view">Case list (person is active)</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/licence-history">Licence history</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/view-licence">View licence</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/are-you-sure-vary">Are you sure you want to vary this licence?</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/discuss-spo">Have you discussed this variation request with your SPO?</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/consult-vlo">Have you consulted with the victim liaison officer (VLO) for this case?</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/vary-licence-details">Vary licence details</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/add-variation-reasons">Add variation reasons</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/variation-summary">Variation summary</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/confirmation">Confirmation</a>
              </li>
            </ul>


            <h2 class="govuk-heading-m">
              PDU head
            </h2>
            
            <h3 class="govuk-heading-s">
              Approve a licence variation
            </h3>
            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/pdu-head/cvl-home">CVL home</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/pdu-head/case-list">Case list</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/pdu-head/variation-summary">Variation summary</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/pdu-head/confirmation">Confirmation</a>
              </li>
            </ul>

            <h2 class="govuk-heading-m">
              Probation Practitioner (PP)
            </h2>
            
            <h3 class="govuk-heading-s">
              View and set to active after PDU head approval
            </h3>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/after-pdu-approve/case-list">Case list (variation approved)</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/probation-practitioner/post-release/after-pdu-aprove/licence-history-inactive">Licence history (inactive to active)</a>
              </li>
            </ul>
            
            '
          }
        },

        {
          heading: {
            text: "Errors"
          },
          content: {
            html: '
            <h2 class="govuk-heading-m">
              Validation errors
            </h2>

            <h3 class="govuk-heading-s">
              Curfew hours routing pages 
            </h3>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/standard-hours">Do you want to use the standard HDC curfew hours?</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/same-apply-everyday">Do the same curfew hours apply everyday?</a>
              </li>
            </ul>
            

            <h3 class="govuk-heading-s" id="enter-curfew-hours-errors">
              Enter the curfew hours
            </h3>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/same-each-day/3-errors">3 errors present example (user tried to continue without entering anything in start time or end time)</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/same-each-day/2-errors">2 errors present example (user tried to continue, but the start time hours and minutes are empty. Am/pm is selected)</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/same-each-day/1-error">1 error present example (user tried to continue, but the start time minute is invalid. Hour is present and valid and am/pm is selected)</a>
              </li>
            </ul>


            <h3 class="govuk-heading-s" id="curfew-hours-need-change-errors">
              Tell us what curfew hours need to change
            </h3>
            
            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/diff-day/3-errors">3 errors present for start time and 4 errors present for end time example (user tried to continue without entering anything in Monday start time and invalid/empty data in Tuesday end time)</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/diff-day/2-errors">2 errors present example (user tried to continue, but the Wednesday end time hours are empty and no day is selected. Minutes is present and valid and am/pm is selected)</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/diff-day/1-error">1 error present example (user tried to continue, but the Friday end time minute is invalid. All other Friday end time fields are valid/selected)</a>
              </li>
            </ul>


            <h3 class="govuk-heading-s">
              Vary address questions
            </h3>

            <ul class="govuk-list">
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/address-type">What type of accommodation is the new curfew address?</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/address-checks">Have you completed the residential address checks?</a>
              </li>
              <li>
                <a class="govuk-link--no-visited-state" href="/mvp2/errors/validation/enter-new-address">Enter the new curfew address</a>
              </li>
            </ul>

            
            '
          }
        }

      ]
    }) }}



    <h2 class="govuk-heading-m govuk-!-margin-top-9">
      Prototype for testing w/c 17 March 2025
    </h2>



    <div class="govuk-accordion govuk-!-margin-bottom-9" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Journey 1 - Diego Rodriguez
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">Scenario: Create a licence before release, where curfew hours are different each day due to employment. Then vary the licence after release, to put curfew hours back to the standard.</p>

          <a href="/mvp2/user-research/mar-19/flow-1/create/are-you-sure?prisoner=diego" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start 
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

        </div>
      </div>


      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Journey 2 - Montgomery Talbot
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">Scenario: Vary the person's licence to change their curfew address.</p>

          <a href="/mvp2/user-research/mar-19/flow-3/cvl-home?prisoner=montgomery&varyFlow=True" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start 
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

        </div>
      </div>
    </div>


    

    <h2 class="govuk-heading-m">
      Prototype for testing w/c 19 February 2025
    </h2>

    <div class="govuk-accordion govuk-!-margin-bottom-9" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Journey 1 - Guy Richards
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">Scenario: Create licence with standard curfew hours and the 3 licence conditions. Then edit that same licence to change curfew hours to 7pm-6am, and resubmit to the prison.</p>

          <a href="/mvp2/user-research/feb-25/flow-1/create/are-you-sure?prisoner=guy" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start 
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Journey 2 - Diego Rodriguez
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">Scenario: Vary the person's licence to change curfew hours so they're shorter Monday-Friday, and submit this to the PDU Head. Also have many conditions listed. Also fast forward to post-approval setting licence to active and printing the new licence.</p>

          <a href="/mvp2/user-research/feb-25/flow-2/cvl-home?prisoner=diego&varyFlow=True" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start 
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Journey 3 - Montgomery Talbot
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body">Scenario: Vary the person's licence to change their address. Address is suitable, offline process completed, but they still need to submit this to the PDU Head. Also fast forward to post-approval setting licence to active and printing the new licence.</p>

          <a href="/mvp2/user-research/feb-25/flow-3/cvl-home?prisoner=montgomery&varyFlow=True" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            Start 
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

        </div>
      </div>
    </div>





  </div>
</div>

{% endblock %}
