<div class="govuk-grid-row govuk-!-margin-bottom-7">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row" style="background-color: #F3F2F1; padding: 10px 0px 10px 10px;">
      <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Cyphoonifer Bransabert
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              10 November 1970
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Prison number
            </dt>
            <dd class="govuk-summary-list__value">
              A693826
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location
            </dt>
            <dd class="govuk-summary-list__value">
              Pentonville (HMP)
            </dd>
          </div>
        </dl>
            </div>
      <div class="govuk-grid-column-one-third">
        <img class="govuk-!-margin-top-3 govuk-!-margin-left-5" src="/public/images/test-image-1.png" width="112.5" height="150" alt="User icon">
      </div>
    </div>
  </div>
</div>
