{% extends "layouts/cvl.html" %}

{% set pageName="Select a person to approve their licence variation" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<div class="govuk-phase-banner" style="border-bottom: none;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="../../../_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    
  
    <h1 class="govuk-heading-xl">
      Select a person to approve their licence variation
        </h1>

        </div>
      </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
        
            <nav class="moj-sub-navigation" aria-label="Sub navigation">

          <ul class="moj-sub-navigation__list govuk-!-margin-bottom-6">
            <li class="moj-sub-navigation__item">
                <a id="myCases" class="moj-sub-navigation__link" aria-current="page" href="?view=me">Cases in this PDU</a>
            </li>
            <li class="moj-sub-navigation__item">
                <a id="allRegions" class="moj-sub-navigation__link" href="?view=region">All cases in this region</a>
            </li>
            <li class="moj-sub-navigation__item govuk-!-margin-right-0 govuk-!-width-one-half" style="float: right;">
                <div class="moj-search">
                    <form method="GET">
                        <div class="govuk-form-group">
                            <label class="govuk-visually-hidden" for="search">
                                Search for a case
                            </label>
                            <input class="govuk-input moj-search__input govuk-!-font-size-14" id="search" name="search" placeholder="Search by name, prison number or probation practitioner" value="">
                            <input type="hidden" name="view" value="me">
                        </div>
                        <button class="govuk-button moj-search__button" data-module="govuk-button" data-govuk-button-init="">
                            Search
                        </button>
                    </form>
                </div>
            </li>
        </ul>


      </nav>


    <table class="govuk-table" data-module="moj-sortable-table">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>

      <th scope="col" class="govuk-table__header" >Licence type</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Probation practitioner</th>

      <th scope="col" class="govuk-table__header" aria-sort="descending">Variation request date</th>

      <th scope="col" class="govuk-table__header" aria-sort="ascending">Release date</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body"> 


       <tr class="govuk-table__row">

        <td class="govuk-table__cell">
          <a href="variation-summary" class="govuk-link--no-visited-state pp-caselist-name">
          Cyphoonifer Bransabert</a>
          <span class="govuk-!-font-size-16 pp-caselist-crn">CRN: A693826</span>
        </td>
  
        <td class="govuk-table__cell">Standard determinate</td>
  
        <td class="govuk-table__cell"><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">Sally Rooney</a></td>
  
        <td class="govuk-table__cell">28 February 2025</td>
  
        <td class="govuk-table__cell"><span class="urgent-highlight">27 May 2025</span><span class="urgent-highlight urgent-highlight-message">HDC release</span></td>

         </tr>

     </tbody>
    </table>


</div>
</div>


{% endblock %}

{% block footer %}

{% include "components/cvl-dm-ca-footer/include.html" %}

{% endblock %}