{% extends "layouts/cvl.html" %}

{% set pageName="Variation for Cyphoonifer Bransabert approved" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}
{% include "components/cvl-pp-header/include.html" %}
{% endblock %}

{%- block beforeContent -%}
<div class="govuk-phase-banner" style="border-bottom: none;">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      BETA
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="../../../../_common/not-testing.html">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Variation for Cyphoonifer Bransabert approved
      </h1>
    </div>

    <h2 class="govuk-heading-m">
      What happens next
     </h2>

        <p>The variation for Cyphoonifer Bransabert has been approved with your digital signature.</p>

        <p>We have sent an email notification to the probation practitioner.</p>

        <p>They will be able to print and issue the licence or post sentence supervision order.</p>

        <a href="#">
          <button type="submit" class="govuk-button" data-module="govuk-button">
           Return to caselist
          </button>
        </a>

        <p class="govuk-!-margin-top-6"><a href="/mvp2/probation-practitioner/post-release/after-pdu-approve/case-list" class="govuk-link--no-visited-state">Jump to probation practitioner flow</a></p>

  </div>
</div>

{% endblock %}


{% block footer %}

{% include "components/cvl-pp-footer/include.html" %}

{% endblock %}