{% extends "layouts/cvl.html" %}

{% set pageName="Create and vary a licence" %}

{% set htmlClasses = 'app-width-wide' %}

{% block header %}

{% include "components/cvl-pp-header/include.html" %}

{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
    
  
    <h1 class="govuk-heading-l">
      Create and vary a licence
        </h1>
   

        <div class="govuk-grid-row card-group">
                
          <div class="govuk-grid-column-one-third card-group__item">
              
<div id="createLicenceCard" class="card card--clickable" data-qa="create-licence-link">
<h2 class="govuk-heading-m card__heading">
  <a class="govuk-link card__link govuk-link--no-visited-state" href="case-list">Approve licence variations</a>
</h2>
<p class="govuk-body card__description">Approve variations for standard determinate licences and post sentence supervision orders requested by probation practitioners.</p>
</div>

          </div>
      

  </div>


{% endblock %}
