{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">
      Pages
    </h2>


    <h3 class="govuk-heading-m">
      Start
    </h3>

    <p><a href="sign-in" class="govuk-link--no-visited-state">Sign in</a></p>
    <p><a href="cvl-home" class="govuk-link--no-visited-state">CVL home (Probation practitioner version)</a></p>

    <h3 class="govuk-heading-m">
      Approver (DM) - approve a licence journey
    </h3>

    <p><a href="/approver/cvl-home" class="govuk-link--no-visited-state">CVL home (DM version)</a></p>
    <p><a href="/approver/case-list-app-needed" class="govuk-link--no-visited-state">Case list (approval needed)</a></p>
    <p><a href="/approver/approve-licence" class="govuk-link--no-visited-state">Approve licence</a></p>
    <p><a href="/approver/approve-licence" class="govuk-link--no-visited-state">Licence approved</a></p>
    <p><a href="/approver/case-list-rec-approved" class="govuk-link--no-visited-state">Case list (recently approved)</a></p>






  </div>
</div>

{% endblock %}
