{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}
<a href="javascript:history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


<span class="govuk-caption-xl">Home Detention Curfew</span>
    <h1 class="govuk-heading-xl">
      MVP1
    </h1>

    <p>We are working with a prison to select 1 appropriate case coming up for release to test our MVP1 flow.</p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          MVP1 case criteria
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list govuk-list--bullet">
         <li>Prisoner has already been approved for HDC, therefore a HDCAD already exists</li>
         <li>It's well in advance of their CRD</li>
         <li>Standard conditions only</li>
         <li>1 residential release address - no CAS</li>
         <li>1 curfew per day</li>
         <li>Standard curfew of 7pm-7am</li>
         <li>Standard 1st night curfew of 3pm-7am</li>
       </ul>
       </div>
    </details>

    <h2 class="govuk-heading-m">
      Approver (DM) 
    </h2>

    <h3 class="govuk-heading-s">
      Approve a licence journey
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/approver/cvl-home">CVL home (DM version)</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/approver/case-list-app-needed">Case list (approval needed)</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/approver/approve-licence">Approve licence</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/approver/licence-approved">Licence approved</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/approver/case-list-rec-approved">Case list (recently approved)</a>
      </li>
    </ul>


    <h2 class="govuk-heading-m">
      Probation Practitioner (PP)
    </h2>

    <h3 class="govuk-heading-s">
      Add reporting instructions and check and confirm journey
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/are-you-sure">Are you sure you want to create this licence?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/who-with">Who is the initial appointment with?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/where-appt">Where is the initial appointment?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/contact-number">What is the contact phone number for the initial appointment?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/when-appt">When does this person need to go to the initial appointment?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/additional-conditions">Do they need additional licence conditions?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/bespoke-conditions">Do they need bespoke licence conditions?</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/check-licence">Check licence details</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/confirmation">Confirmation</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/case-list">Case list (status - submitted)</a>
      </li>
    </ul>


    <h3 class="govuk-heading-s">
      View licence
    </h3>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/cvl-home">CVL home (PP version)</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/case-list-view">Case list</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/licence-history">Current licence and licence history</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/probation-practitioner/view-licence">View licence details</a>
      </li>
    </ul>


    <h2 class="govuk-heading-m">
      Case Admin (CA) 
    </h2>
    <h3 class="govuk-heading-s">
      HDC
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/case-admin/task-list">Task list</a>
      </li>
    </ul>


    <h3 class="govuk-heading-s">
      View or print licence
    </h3>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/case-admin/case-list-pip-approved">Case list - people in prison</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/case-admin/print-licence">Print licence</a>
      </li>
      <li>
        <a class="govuk-link--no-visited-state" href="/mvp1/case-admin/case-list-pop-active">Case list - people on probation</a>
      </li>
    </ul>

    
  </div>
</div>

{% endblock %}
